[2018-12-16 19:32] howryu opened #6 "Support logging"
Right now I cannot enable logging from azure-storage-cpplite and when there is something happened, I cannot figure out what is wrong.

[2019-03-17 21:46] damienpontifex opened #13 "Comparison to azure-storage-fuse/azure-storage-cpp-lite"
Came across this and was wondering what the difference here is to the source at https://github.com/Azure/azure-storage-fuse/tree/master/azure-storage-cpp-lite ?

I am depending on the storage library source there for an implementation of azure blob support in an upcoming tensorflow/io PR. On the surface it seems like this has been extracted from that original repo and I'd prefer to target this ded

[2019-03-18 02:55] katmsft commented on #13
Currently we do not have a plan of maintaining azure-storage-fuse/azure-storage-cpp-lite. If you are purely depending on a C++ client library for Azure Storage services, I would strongly recommend you use this library instead. As you can see from the PR history, this repository will be better maintained for this purpose.

[2019-03-18 21:03] damienpontifex commented on #13
Thank you @katmsft. Succinct and exactly what I needed to know 😄

[2019-03-18 21:03] #13 closed

[2019-04-19 09:16] Wakusei opened #18 "vcpkg for Windows build"
I think using vcpkg is more convinient for resolving dependency on openssl and libcurl on Windows build. You can build both with two lines of command.
Is there a reason why vcpkg is not used?

[2019-05-07 15:05] mgukov opened #20 "Build failed on macOS Mojave"
On macOS Mojave 10.14.4 (18E226) Xcode 10.2.1 (Build version 10E1001)

Build failed with output

`
-- The C compiler identification is AppleClang 10.0.1.10010046
-- The CXX compiler identification is AppleClang 10.0.1.10010046
-- Check for working C compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/cc
-- Check for working C compiler: /Applications/Xco

[2019-05-08 16:13] tarantoga commented on #20
Confirming, same issue here.

[2019-05-09 01:18] katmsft commented on #20
Thanks for reporting the issue.
Rootcause: `/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include/c++/v1/memory:3667:9: note: in instantiation of member function `

This is identified as a bug, and we will try to fix it soon.

[2019-05-09 01:25] katmsft commented on #18
There isn't a specific reason vcpkg is not used. Not published in Vcpkg is only because it has never be brought up by any customer before this thread.
It is now in our backlog and will be evaluated for the next release.

[2019-05-09 01:50] Wakusei commented on #18
Thanks! That makes building on Windows much easier. 👍

[2019-05-12 01:25] damienpontifex opened #21 "blob_client_wrapper::list_containers_segmented doesn't allow empty prefix"
In `blob_client_wrapper::list_containers_segmented` at https://github.com/Azure/azure-storage-cpplite/blob/master/src/blob/blob_client_wrapper.cpp#L281 there is a early failure check for `prefix.length() == 0` even though the [List Containers](https://docs.microsoft.com/en-us/rest/api/storageservices/list-containers2#uri-parameters) rest definition defines this parameter as optional. This prevents

[2019-05-13 05:15] spinosae opened #24 "request signing failed when accessing Azure Blob Storage on IoT Edge"
I was trying to run the SDK on an Embedded Linux device running as IoT leaf to access [Azure Blob Storage on IoT Edge](https://docs.microsoft.com/en-us/azure/iot-edge/how-to-store-data-blob). However authorization kept failing. Meanwhile Azure Storage .Net SDK worked just fine.

After some digging, I narrowed down the problem to request signing. The client side (leaf device) signed a different hea

[2019-05-13 19:36] katmsft commented on #24
Thanks for reporting the issue. Can you also share the name of the blob you saw from .NET SDK and the full URL please?

[2019-05-14 03:44] spinosae commented on #24
Hi, in .NET SDK the resource path was `/mymoxa2/mymoxa2/cpptest` on both sides (cpptest was the container name, mymoxa2 was account name. edited original post).

I figured resource path was supposed to be /[ACCOUNT_NAME]/[CONTAINER_PATH], where [CONATINER_PATH] was coded as [ACCOUNT_NAME]/[CONTAINER_NAME] in .NET SDK but without leading [ACCOUNT_NAME] in cpplite SDK. You may refer to 'GetCanonical

[2019-05-16 20:54] #21 closed

[2019-06-22 02:18] damienpontifex opened #27 "Move to 'modern' cmake?"
Are there current blockers to updating the minimum cmake version to 3.x?

It's something I'm interested in and a lot of nice features in 3.x with target specific setup and additions that could be made to make it easier to integrate this library into another project.

[2019-06-24 02:22] katmsft commented on #27
Can we actually add something like 'if (VERSION GREATER 3.0)' for the features you wanted to have in the cmake file rather than making it a requirement to provide backward compatibility? There is currently no data on our end to support that there isn't many users that are currently using cmake 2.8~3.0 to consume this repository.

[2019-06-24 02:45] damienpontifex commented on #27
That greater than check can be added. It's the niceties that might simplify things that I'd like to add such as `target_compile_features(myTarget PUBLIC cxx_std_11)` vs providing compiler specific arguments.

I don't know of a way to get usage stats on that. I assume generally it's versions that are provided as defaults on linux LTS releases that defines what users might have available.

[2019-06-30 08:33] damienpontifex opened #30 "Update storage version to use x-ms-error-code in logs"
I noticed that [storage version 2017-07-29](https://docs.microsoft.com/en-us/rest/api/storageservices/version-2017-07-29) has "All error responses have an additional response header `x-ms-error-code` that contains the error code string"

This could be a useful debugging addition to log messages where the client relies heavily on `errno`

[2019-07-01 02:12] katmsft commented on #30
Actually if you call those APIs that is not in 'blob_client_wrapper', which are exception based APIs, it would contain more information.

However, I think it is generally a very good idea to bump up the version for such information. I'll put it in the backlog to see if we could prioritize it.

[2019-07-11 17:48] aanghele opened #31 "api useless without error checking and bool return values"
create_container function in blob_client_wrapper should return a bool. Have no idea if this succeeds or not , I guess you can recheck if the container exists after you called create. But it fails and there are no errors to indicate what went wrong. This api is useless if you can't figure out what went wrong , there could be naming issues, permissions, ... Can't even really test if the account conn

[2019-07-12 06:09] katmsft commented on #31
There are two things here:

1. `blob_client_wrapper` is a wrapper class consumed by C style applications/frameworks/libraries. Therefore exception is not an acceptable error handling mechanism in this universe.
`blob_client` is the class that's better tested and formed for modern C++ users. Exceptions will be thrown and errors will be more discover-able.

2. The purpose of the lite version is to p

[2019-07-12 13:43] aanghele commented on #31
Ok thanks! I will give blob_client a try. I started with the sample provided in the package and that example was using bob_client_wrapper.

[2019-07-17 09:19] katmsft opened #32 "Issue in upload APIs."
1. Non-seekable stream cannot be used as input stream for upload APIs, otherwise it would result in a authentication failure.
2. Input stream's length cannot be 0, otherwise a authentication will fail.

[2019-08-06 20:16] evankirkiles commented on #20
Caused by trying to destroy a pointer to a base class when the pointed-to object is a derived class. There is nothing telling the compiler to look for an inherited destructor, so the behavior throws an error. I fixed this in #34––added default virtual destructors to base classes that needed them.

[2019-08-13 19:36] bhardwajs commented on #18
@katmsft - +1 on the ask from @Wakusei on vcpkg port.

[2019-08-16 00:28] damienpontifex commented on #27
I was looking into this for another project and we went on Ubuntu LTS release versions. With 14.04 end of life was April this year, then 16.04 is the oldest LTS we thought as a good starting target. It had cmake 3.5.1 as its default https://launchpad.net/ubuntu/xenial/+source/cmake

@katmsft pending no other usage stats what are your thoughts on this conclusion for which cmake version to minimum t

[2019-11-06 19:19] raghujayan opened #42 "Running the sample code hangs"
I compiled the source and the samples using VS2015. Wen running the sample executable the programs simply hangs in bc.container_exists().

When I use http instead of https the program does not hang. However I get error code 400 and in general the program fails.

Appreciate any insights?

[2019-11-07 01:25] katmsft commented on #42
Thanks for reporting the issue, is there any detailed log? e.g. the call stack of the hang or the detailed error message of the 400 would be very helpful to narrow down the issue.

[2019-11-08 16:08] raghujayan commented on #42
The hang does not produce any error messages. There is I suppose retry for a long time and then a timeout. I think I have narrowed it down to SSL cert verification issue.

[2019-11-11 03:55] JinmingHu-MSFT commented on #42
@raghujayan Hi, are you trying to intercept HTTPS traffic using self-signed certificate?
Because today I just came across exact the same issue as you did when I'm trying to capture HTTPS traffic.

If this is your case, the program hangs there because Curl requests keeps failing and retrying. Disabling SSL cert verification will fix it. Ref to [here](https://curl.haxx.se/libcurl/c/CURLOPT_SSL_VERIF

[2019-11-11 15:23] raghujayan commented on #42
@JingchuanHuangMSFT ,as I had mentioned in my previous message. I can indeed see that it is a SSL cert verification failure issue and I had confirmed that by setting the CURL options to not verify the certs. My question mostly was around that fact that we are planning to deploy this library in production code where it is not a good idea to bypass the verification. Is there an alternate way you can

[2019-11-12 02:37] JinmingHu-MSFT commented on #42
@raghujayan Yes, use these two options, [CURLOPT_CAINFO](https://curl.haxx.se/libcurl/c/CURLOPT_CAINFO.html) and [CURLOPT_SSL_OPTIONS](https://curl.haxx.se/libcurl/c/CURLOPT_SSL_OPTIONS.html), I just tried, it works.

[2019-11-12 15:28] raghujayan commented on #42
Well @JingchuanHuangMSFT  why not compile curl with the OSs TLS backend? For example compiling curl with SChannel (not openssl) for Windows would ensure the curl finds the OSs cert bundle.
Refer - https://curl.haxx.se/docs/sslcerts.html

[2019-11-13 01:32] JinmingHu-MSFT commented on #42
@raghujayan This is a good idea, I'll take time to look into it.

[2019-11-13 07:35] JinmingHu-MSFT commented on #42
@raghujayan I just tested, if libcurl is complied with SChannel as backend, it can find the OS cert bundle by default.

But really, there isn't too much we can do about the cpplite sdk, it's all about how libcurl is compiled.

[2019-11-13 15:47] raghujayan commented on #42
@JinmingHu-MSFT , I have confirmed that compiling CURL with Schannel instead of OpenSSL is sufficient for getting the SSL certs verified for the sample code out-of-box without any CURL opts being added to find certs.

I agree there is nothing to do with storage ccplite sdk. However there should be in my opinion comment in the README to help with this if users of SDK come across this.

What do you

[2019-11-14 01:43] JinmingHu-MSFT commented on #42
@raghujayan Thanks for your feedback, we'll consider add it to README in the future.

[2019-11-15 13:58] raghujayan commented on #42
Thank you @JinmingHu-MSFT for addressing the issue.

[2019-11-15 13:58] #42 closed

[2019-11-15 15:16] raghujayan opened #44 "Using CNG for hashing on windows"
Seems like the only need for OpenSSL on windows is for hashing when using SharedKeys.

Why can't we use Windows CNG (bcrypt) for doing this. This removes the dependency on OpenSSL.

I could update CmakeList.txt and hash.cpp to fix this. What do you guys think?

P.S: This could be considered an extension to the previous issue reported in using SChannel (WinSSL) #42 on windows for TLS. If  this is a

[2019-11-15 20:51] raghujayan opened #45 "Sample does not link when using shared lib"
**cmake .. -G "Visual Studio 15 2017" -DCURL_LIBRARIES="D:\source\curl\builds\libcurl-vc14-x64-release-dll-ipv6-sspi-winssl\lib\libcurl.lib" -DCURL_INCLUDE_DIRS="D:\source\curl\builds\libcurl-vc14-x64-release-dll-ipv6-sspi-winssl\include" -DBUILD_SAMPLES=true -DCURL_LINK_TYPE=dll -DCMAKE_GENERATOR_PLATFORM=x64 -DCMAKE_BUILD_TYPE=Release -DBUILD_SHARED_LIBS=true -DBUILD_WITH_MT=true**

After runnin

[2019-11-16 01:38] JinmingHu-MSFT commented on #44
@raghujayan Yes, this is feasible. Any contribution is welcomed.

[2019-11-16 01:41] JinmingHu-MSFT commented on #45
Hi @raghujayan This is a known issue, it's because APIs in `blob_client_wrapper` are not declared with dllexport. I already fixed this here https://github.com/Azure/azure-storage-cpplite/pull/41.

[2019-11-18 03:56] JinmingHu-MSFT commented on #44
@raghujayan This is done. See it here https://github.com/Azure/azure-storage-cpplite/pull/41/commits/a530eda030405ae7ab358df24f0f9de04fd848af

[2019-11-18 14:06] raghujayan commented on #45
Thank you fixing the issue @JinmingHu-MSFT . Do you know when the changes will get merged?

[2019-11-18 14:07] raghujayan commented on #44
Thank you adding this feature @JinmingHu-MSFT .

[2019-11-18 14:07] #44 closed

[2019-11-18 14:15] JinmingHu-MSFT commented on #45
@raghujayan I guess, maybe in a week or two.

[2019-11-18 14:21] raghujayan commented on #45
Ok thanks.

[2019-11-19 07:28] JinmingHu-MSFT commented on #45
@raghujayan Hi, it's already merged.

[2019-11-19 14:27] jking777 opened #47 "put_blob loses errors"
`blob_client_wrapper::put_blob` may lose error codes from its call to `m_blobClient->upload_block_blob_from_stream`. If that call results in an error then `errno` is set to the value of the HTTP error code, for example 403. Then `put_blob` closes the input stream, which will reset `errno` to 0. The caller of `blob_client_wrapper::put_blob` then has no indication that the upload failed.

[2019-11-19 14:54] raghujayan commented on #45
Thank you @JinmingHu-MSFT. I have merged the changes with our product. I have test the chagnes and all of it works. Appreciate the quick turnaround.

[2019-11-19 14:54] #45 closed

[2019-11-19 17:55] raghujayan opened #48 "VS2015 support"
Would it be possible to add VS2015 support for the SDK? Our product currently supports VS 2015 and in order to have seamless integration and to pull regular updates it would be important for the SDK to be built in VS 2015.

I have compiled/tested the sdk and there does not seem to be any issue.

[2019-11-20 01:17] JinmingHu-MSFT commented on #48
We're still under internal discussion about this question, will keep you posted on any updates.

[2019-11-20 01:19] JinmingHu-MSFT commented on #18
vcpkg is supported now.

[2019-11-20 01:22] JinmingHu-MSFT commented on #27
@damienpontifex Hi, We just raised the minimum required CMake version to 3.6.

[2019-11-20 09:38] JinmingHu-MSFT commented on #47
I'll take time to look into this issue.

[2019-11-22 19:55] raghujayan opened #49 "Heap Corruption when using build_request"
The following snippet of code causes a heap corruption when calling the destructor:

     CurlEasyRequest::~CurlEasyRequest()
        {
            curl_easy_reset(m_curl);
            m_client->release_handle(m_curl);
            if (m_slist) {
                curl_slist_free_all(m_slist);
            }
        }
at the curl_easy_reset method call. It seems like m_curl gets freed before it gets h

[2019-11-24 07:55] JinmingHu-MSFT commented on #49
Hi @raghujayan, I'm sorry but I didn't get your point. `m_curl` will only be destructed in destructor of `CurlEasyClient`, and `CurlEasyRequest` holds a shared pointer of `CurlEasyClient`, which means `m_curl` should always be valid before the end of `CurlEasyRequest`'s destructor.

I didn't mean this curl wrapper code is bug-free, actually on the contrary, I did observe some crash/heap corruption

[2019-11-24 15:45] raghujayan commented on #49
@JinmingHu-MSFT, thank you for taking a look at this issue. Our use case is to use the sdk to get the headers for GET requests. We are using our own curl based blob access which needs various forms of signing and we use the azure-storage-cpplite sdk for it. Currently this issue unfortunately is blocking us.

The code snippet I pasted above by itself causes a heap corruption issue. If you could try

[2019-11-25 17:18] #49 closed

[2019-11-25 18:46] raghujayan opened #51 "Cannot access Request Headers"
I cannot access the request headers.  When I use CurlEasyRequest I can get the response headers after performing CurlEasyRequest::perform()
Would it be possible to store the request headers as part of the add_header (in a private member m_request_headers)method and let users of the sdk access them via get_request_headers? I understand this might not be an intended feature of the SDK but would help

[2019-11-26 02:21] JinmingHu-MSFT commented on #49
Hi @raghujayan, I noticed you've closed this issue. Did you figure it out by yourself? If so, can you share what the real problem is and your solution? It'll be very helpful in improving our sdk, thanks.

[2019-11-26 02:32] raghujayan commented on #49
User error. There was nothing wrong with the sdk. I accidentally mixed up the release lib with the debug build.

[2019-11-26 03:14] JinmingHu-MSFT commented on #51
Hi @raghujayan, we can add a public interface to access request headers, which is not difficult. The difficult part is, how can you use it to get request headers without really firing curl requests from our sdk.

Because most headers are filled the moment before `curl_easy_perform` get called, and currently, as far as we know, there's no way you can stop it after headers are filled and before `cur

[2019-11-26 04:43] raghujayan commented on #51
Hi @JinmingHu-MSFT ,I may be getting this wrong, but would it not be possible to capture the request headers when they get added to m_slist in the add_headers (libcurl_http_client.h) method and store it as a key value pair?

[2019-11-26 13:40] JinmingHu-MSFT commented on #51
@raghujayan Yes, it's possible and easy to implement.

What i'm worried about is, how do you plan to use it, can you stop the libcurl client underlying our storage sdk from sending http requests? If not, even if you can get those http headers, what do you want to do with them after the http requests are already sent out?

[2019-11-26 14:58] raghujayan commented on #51
[code]

The above code snippet will use the SDK without actually performing the request via the sdk. Note: The get_request_headers does not exist currently. The rest of the code compiles and runs.
Do you see a problem with this approach?

[2019-11-27 13:44] raghujayan commented on #48
@JinmingHu-MSFT  Is there any update on this?

Thank you

[2019-11-27 13:48] JinmingHu-MSFT commented on #48
@katmsft is currently in charge of this question. He'll contact with you.

[2019-11-27 13:54] raghujayan commented on #48
Thank you

[2019-11-27 14:27] raghujayan commented on #51
Any suggestions on the above @JinmingHu-MSFT ?

[2019-11-27 14:45] JinmingHu-MSFT commented on #51
@raghujayan I'm going to look into it tomorrow.

[2019-11-27 14:47] raghujayan commented on #51
Thank you very much for taking the time @JinmingHu-MSFT

[2019-11-28 02:02] katmsft commented on #48
Can you send an email to kat@microsoft.com so this can be more properly discussed? Thanks!

[2019-11-28 08:52] JinmingHu-MSFT commented on #51
Hi @raghujayan , I tried your method, it actually works, although very tricky.

I added a `get_request_headers()` function in this [branch](https://github.com/JinmingHu-MSFT/azure-storage-cpplite/tree/dev), please give it a try. If everything is ok, we're going to merge it into master.

Plus this is how I tried with this function, just for your reference.
[code]

In addition, please keep in mind t

[2019-11-28 21:43] raghujayan commented on #51
Thank you very much @JinmingHu-MSFT! Your updates worked and I am now able to use your SDK for our use case.

Also making a distinction between request and response headers makes the code much cleaner.

I understand that these APIs are internal and therefore can break in future. We are planning on integrating this repo into our CI/CD an should be able to catch such breaking changes.

Appreciate yo

[2019-11-28 21:43] #51 closed

[2019-12-03 07:19] JinmingHu-MSFT commented on #47
This should have been fixed in this commit https://github.com/Azure/azure-storage-cpplite/commit/c771d89e8493906b94390d082d714754ac75bcff.

[2019-12-03 14:15] jking777 commented on #47
Thank you!

[2019-12-03 14:15] #47 closed

[2019-12-12 19:46] raghujayan opened #52 "New release"
Will there be a new release of the SDK soon? We would like to integrate into our CI/CD and want tie to a specific version.

Given then we would need the new features that you have in place, I was hoping you could cut a new release.

Thank you,

[2019-12-13 02:05] JinmingHu-MSFT commented on #52
Hi @raghujayan , we're planning a new release early January, are you okay with that?

[2019-12-16 15:29] raghujayan commented on #52
That will work. Thank you @JinmingHu-MSFT

[2019-12-16 15:29] #52 closed

[2019-12-17 15:14] raghujayan opened #53 "Client request id"
How does one provide client request id header ( x-ms-client-request-id )? I know it is optional but would like to know how do applications generate it/provide it and how do I use it with the SDK?

Thank you
~Raghu

[2019-12-18 02:17] katmsft commented on #53
Currently there is no support of client request ID header.
Are you asking for auto generated UUID as a default client request ID or if you want customization of client request ID that can be set at runtime?

[2019-12-19 14:15] raghujayan commented on #53
@katmsft  We do not have a specific use case as of now. But while working with Azurite (Azure storage server clone) Service we encountered this header.

I more curious as to how this header is used in general and how it would be generated if we used azure storage cpplite.

Thank you,
Raghu

[2019-12-19 14:41] JinmingHu-MSFT commented on #53
@raghujayan It's pretty much just a unique identifier of a request, mostly used for debug purpose as far as I know. You can use any random string. The sdk usually generates a UUID for each request.

[2019-12-19 15:28] raghujayan commented on #53
@JinmingHu-MSFT Thank you

[2019-12-19 15:28] #53 closed

[2019-12-20 01:51] JinmingHu-MSFT commented on #53
@raghujayan Hi, I noticed you closed this issue. Since this feature isn't implemented yet, does it mean you no longer request for this feature?

[2019-12-25 04:12] katmsft commented on #24
Is it possible to also share the URI that you are accessing? I somehow cannot find the place where the behavior is different than .Net SDK's and cpp SDK's. Each of the 3 SDKs appends account name and url absolute path as the resource path.

[2020-01-06 02:49] JinmingHu-MSFT commented on #20
macOS is officially supported since release 0.2. Open new issues if you have any questions building cpplite on macOS.

[2020-01-31 07:44] bhardwajs commented on #18
@JinmingHu-MSFT When you say vcpkg is supported now, do you mean building Azure-Storage-Cpplite using vcpkg or a vcpkg port? I don't see a port at https://github.com/microsoft/vcpkg/tree/master/ports

If this is in your plans, great. If not, I can try to work on it. Please let me know. CC @ras0219-msft

[2020-01-31 07:50] JinmingHu-MSFT commented on #18
@bhardwajs I meant to install dependencies via vcpkg, not cpplite itself. Because the original post is talking about dependency management.

[2020-01-31 08:03] bhardwajs commented on #18
Got it. Thanks! I will go ahead and work on building a portfile. I will add you to the PR if and when I get it ready. Anyone else to add? Thanks!

[2020-02-03 16:59] asafka-zerto opened #57 "Build fails on Windows 10 Enterprise"
I've followed the build instructions but when in the last build step (cmake --build . --config Release) I get a bunch of "warning C4273: ... inconsistent dll linkage", which are treated as errors and fail the build:

C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\VC\Tools\MSVC\14.16.27023\bin\HostX86\x86\CL.exe /c
  /I"C:\projects\azure-storage-cpplite\include" /I"C:\projects\vcp

[2020-02-04 06:00] #57 closed

[2020-02-04 06:02] JinmingHu-MSFT commented on #57
Hi @asafka-zerto Thanks for your feedback, please try the latest commit, it should be fixed. Feel free to reopen this issue if you have any other questions.

[2020-02-04 09:56] asafka-zerto opened #59 "Include files not found in VS 2015 C++ project"
I have both VS 2017 and VS 2015 installed on my Windows machines. I'm using VS 2015 for some C++ projects. I've cloned and built the azure-store-cpplite library per the build instructions. Now when I try to include:

#include "storage_credential.h"
#include "storage_account.h"
#include "blob/blob_client.h"

VS does not find these files.

I've run "vcpkg integrate install":

Applied user-wide integ

[2020-02-04 10:02] JinmingHu-MSFT commented on #59
@asafka-zerto We now only support install dependencies of cpplite via vcpkg, cpplite itself is not supported by vcpkg yet.

[code]
These three headers are from cpplite, so you should specify the include and link path manually in your VS project.

[2020-02-05 17:19] ihnorton opened #60 "Parallel buffer upload API?"
We are evaluating this library (vs azure-storage-cpp), and the smaller dependency tree is appealing. One API that seems to be missing a is a parallel put from a buffer/stream of known size. It looks like the `blob_client::upload_file_to_blob` function could be refactored to take a buffer, or a similar function written which splits over the buffer and then puts the final block list. Is this an API

[2020-02-06 03:41] JinmingHu-MSFT commented on #60
@ihnorton There isn't existing API that does parallel uploading from stream/buffer. You may need to call `upload_block_from_stream` or `upload_block_from_buffer` in parallel and then call `put_block_list`. We'll evaluate and consider adding such an API.

[2020-02-06 15:12] joe-maley opened #61 "Configurable Retry Policy"
Both `class blob_client` constructors initialize `executor_context blob_client::m_context` with the default `class retry_policy`. The default retry policy retries 26 times with an exponential back-off up to 60 seconds on each retry.

Please support a configurable retry policy. I'd suggest:
1. Allow `class retry_policy` to be constructed with both a maximum retry count and a retry interval.
2. Allo

[2020-02-06 16:05] joe-maley opened #62 "Empty error response for ill-formatted blob endpoint"
When executing `blob_client::create_container` on an instance constructed with an ill-formatted blob endpoint, the response fails with an empty error message. For example:

[code]

The above prints:
[code]

Note that the error code is non-deterministic and I assume to be reading from uninitialized memory. Anyway, the non-obvious issue is that my blob end point is ill-formatted because it includes

[2020-02-06 16:10] JinmingHu-MSFT commented on #61
@joe-maley Yes, you're right. The existing retry policy doesn't make too much sense. We also have other customers complaining about this, and also have pending PR https://github.com/Azure/azure-storage-cpplite/pull/54 trying to fix this problem. We'll consider adding this feature in future release. Thanks for your feedback.

[2020-02-18 09:05] prasanthrgb opened #65 "Crash occurs with container_exists & get_blob_property with invalid credentails"
Hello All,

I am just trying to create IoT application with Azure. I am using Blob storage sdk lite and facing some issues as below:
The code at line 4 and 5 sometimes get into infinite loop or crashes (some times) If invalid credential is passed to account.
1. auto bC = std::make_shared<blob_client>(account, 10);
2. bool exists = true;
3. blob_client_wrapper bc(bC);
4. exists = bc.container_exist

[2020-02-18 10:06] JinmingHu-MSFT commented on #65
@prasanthrgb Please change the value [here](https://github.com/Azure/azure-storage-cpplite/blob/12766488a7f8f22b53e2c97da77caad8a2f038d1/include/retry.h#L87) from `26` to smaller value like `3` and try again. Thanks

[2020-02-18 11:23] prasanthrgb commented on #65
Thank you. Your suggestion works so that API does not hangs.

[2020-02-18 11:23] #65 closed

[2020-02-18 18:13] joe-maley opened #66 "Azurite authentication fails"
I am unable to authenticate with the latest Azurite release (https://hub.docker.com/_/microsoft-azure-storage-azurite) using this cpplite client.

Using the same code that works on the production Azure, but using the `storage_account::development_storage_account()`, I am able to connect with a locally running Azurite instance but the authentication fails.

Is this supported? Is there a workaround?

[2020-02-19 03:16] JinmingHu-MSFT commented on #66
@XiaoningLiu Hi Xiaoning, this user is having some problems running cpplite against Azurite, [here](https://github.com/Azure/azure-storage-cpplite/blob/master/src/storage_account.cpp#L7) is the credential, can you help have a look?

[2020-02-20 05:06] prasanthrgb opened #67 "API given error incorrectly even though it could connect and download blob"
I tried the sample.cpp provided with a little modification for logging and error checking. Please see below code. I gave correct credentials, the container and blob which i am trying to download exist and i could successfully download blob from blob storage.

But, i get error while creating storage_account, blob_client, blob client wrapper though my credentials are correct. I checked 'errno' varia

[2020-02-20 06:12] JinmingHu-MSFT commented on #67
@prasanthrgb Please try the code below

[code]

I strongly recommend you stay clear of `blob_client_wrapper` and always stick to `blob_client`, unless you have special requirements.

[2020-02-20 06:26] JinmingHu-MSFT opened #68 "We should add sample of `blob_client` and remove sample of `blob_client_wrapper`"
The only sample in this project is for `blob_client_wrapper`, which is designed for a specific user rather than ordinary users. While it misleads most users into using our cpplite sdk the wrong way.

The interface of `blob_client_wrapper` has a flaw. It returns void rather than a value indicating whether an error has occurred. So the user must check `errno` everytime after calling a function. This

[2020-02-20 06:27] JinmingHu-MSFT commented on #68
@katmsft I'd like to have your thoughts on this matter. Thanks

[2020-02-20 10:45] XiaoningLiu commented on #66
Generally sounds good. Here is the stringToSign Azurite uses. @JinmingHu-MSFT can you help check string to sign cpplite uses?

[code]

[2020-02-20 11:54] prasanthrgb commented on #67
Thank you for the reply.

The below code worked for correct credentials. It gave success if correct credential is given.
auto bC = std::make_shared<blob_client>(account, 2);
printf("%s\n", bC ? "Success" : "Failure");

But with incorrect account name, it does not show 'Failure'. Also if invalid key is given the following crash occurs in the sample.cpp app.

"terminate called after throwing an inst

[2020-02-20 12:41] JinmingHu-MSFT commented on #67
Hi @prasanthrgb ,

There's no way for this sdk to verify whether an account name is valid or not. The endpoint is `ACCOUNT_NAME.blob.core.windows.net`. So if an invalid account name is given, the dns lookup would fail, and what would happen next totally depend on underlying HTTP client.

Key must be a valid base64-encoded string. You cannot use any random string to pretend an invalid key.

[2020-02-21 04:16] katmsft commented on #68
I think it is better we have made it official that `blob_client_wrapper` is not recommended to be used unless customer cannot tolerate exceptions in their code base. With this said, not only samples, but also documents/comments should be made clear that we do not encourage our customer to use it unless neccessary.
There is also a feature gap, where `blob_client_wrapper` supports concurrent upload,

[2020-02-21 06:36] JinmingHu-MSFT commented on #66
This is a bug in cpplite sdk. Becasue in the official documentation, it says "If you are authorizing against the storage emulator, the account name will appear twice in the CanonicalizedResource string." But cpplite currently only appends it once.

[2020-02-24 02:22] katmsft opened #69 "[Survey] Boost dependency?"
Hi all,

Currently there are two C++ libraries for Azure Storage Service, this repo manages one and another one is called azure-storage-cpp. Many of you has chosen this library because of the boost dependency in the other one, can you share the reasons why boost library is not acceptable in your scenario? This will be one of the key references when we consider the dependency stories moving both SD

[2020-02-28 05:58] prasanthrgb commented on #67
Ok Thanks!

I am planning to use blob_client as per suggestion.

But, [#68]([https://github.com/Azure/azure-storage-cpplite/issues/68]) mention about a gap of blob_client with respect to blob client wrapper
"There is also a feature gap, where blob_client_wrapper supports concurrent upload, which needs to be ported to blob_client."

I hope that would not be a problem for me to use blob_client to us

[2020-02-28 06:16] JinmingHu-MSFT commented on #67
@prasanthrgb Yes, `blob_client` doesn't support that feature yet, it only supports single-thread operation for now. So if you want to upload a big blob in parallel, you cannot do it with `blob_client`. An workaround is to break the file into parts, and upload each part in parallel with `upload_block_from_stream` or `upload_block_from_buffer`.

Or you can formally request this feature, so that I ca

[2020-02-28 06:35] prasanthrgb commented on #67
Thank you very much  for the reply.

I only want download operation now.
Just to check couple of this using blob client.
#1 . Does this support checking credential are correct or not?
#2. Does  it suport parallel download ?

[2020-02-28 06:40] JinmingHu-MSFT commented on #67
Regarding this, the behavior of `blob_client` is pretty much the same as `blob_client_wrapper`. If the storage account exists but doesn't match the key, it will return HTTP 403. If the account name doesn't exist, usually the DNS lookup will fail, it should also return an error.

Nope, neither parallel upload or download is supported.

[2020-02-28 07:56] prasanthrgb commented on #67
OK, thanks!
I hope blob client shall not throw exception.
May i know when we can expect sample which uses blob_client?

Meantime, Is there any documentation available  to use blob_client?

[2020-02-28 08:00] JinmingHu-MSFT commented on #67
It actually doesn't throw exceptions, except when there's a bug in the SDK.

Maybe next week, I don't have too much time this week.

It's quite easy actually, and there isn't any documentation except the sample that is coming.

[2020-03-03 17:56] neilkenny opened #71 "Add support for connecting via https proxy"
azure-storage-cpplite currently does not support connecting to a proxy via https (see [this issue](https://github.com/Azure/azure-storage-cpp/issues/330) for more details)

This would be a useful feature to add

[2020-03-05 07:36] JinmingHu-MSFT commented on #32
Not exists anymore in latest commit, seems it's been fixed sometime.

[2020-03-05 07:48] JinmingHu-MSFT commented on #60
@ihnorton Hi, I'm planning support for this parallel uploading/downloading feature. If we can only support uploading from either stream or buffer but not both due to limited resource. Which one do you prefer?

[2020-03-05 13:45] joe-maley commented on #60
@JinmingHu-MSFT, this is no longer a requirement for @ihnorton and I because we are using the blob_client instead of the blob_client_wrapper. Thanks!

[2020-03-06 23:50] ryayl opened #72 "Type-limits warnings when building for ARM32"
Use case: Implementing Azure Blob Storage on IoT Edge with C++ on ARM32 device, which is now supported using other languages such as Python, Node.

Issue: Trying to build on a 32-bit platform results in warnings due to assumptions about char size (I realize this code hasn't been tested on 32-bit officially):

/app/azure-storage-cpplite/src/blob/blob_client_wrapper.cpp: In member function 'void azu

[2020-03-11 09:29] JinmingHu-MSFT commented on #72
`off_t` is 32bit on ARM32, `off64_t` should work.

But I think `off_t` is part of POSIX standard, which our sdk should stay clear of, as a cross-platform project.

Anyway, `blob_client_wrapper` is not recommended to use, please use `blob_client` as possible as you can.

[2020-03-12 12:46] prasanthrgb commented on #68
Hi Guys,
Does this issue fix available?
Thanks,
Prasanth

[2020-03-12 12:47] prasanthrgb commented on #67
Hi, Please let me know did u get enough time to look into this

[2020-03-12 13:04] JinmingHu-MSFT commented on #67
@prasanthrgb Hi, please have a look at this PR https://github.com/Azure/azure-storage-cpplite/pull/63, it's going to be released in no time.

[2020-03-12 13:05] JinmingHu-MSFT commented on #68
@prasanthrgb Yes, please have a look at this PR #63.

[2020-03-13 03:39] #62 closed

[2020-03-13 03:41] JinmingHu-MSFT commented on #62
@joe-maley This should be fixed in the latest 0.3.0 release, feel free to reopen this issue if you have any further questions.

[2020-03-13 03:59] JinmingHu-MSFT commented on #71
Hi @neilkenny , we added proxy support in latest 0.3.0 release, I believe it supports both HTTP and HTTPS proxy.

The limitation is, if you're using a self-signed certificate for HTTPS proxy server, it still won't work. Because the options `CURLOPT_PROXY_SSL_VERIFYPEER` and `CURLOPT_PROXY_SSL_VERIFYHOST`, which are used to allow insecure proxy ssl connections, are not available until libcurl 7.52,

[2020-03-13 04:02] JinmingHu-MSFT commented on #68
Sample is added in 0.3.0 release, and I'll created another issue discussing the concurrent upload/download feature brought up by @katmsft . I'm going to close this issue for now.

[2020-03-13 04:02] #68 closed

[2020-03-13 04:02] JinmingHu-MSFT commented on #66
This issue should've been fixed in the latest 0.3.0 release.

[2020-03-13 04:04] JinmingHu-MSFT commented on #61
We added configurable retry policy in latest 0.3.0 release. The default retry count is also changed from 25 to 3.

[2020-03-13 04:05] JinmingHu-MSFT commented on #60
We added concurrent download/upload from/to buffer in latest 0.3.0 release.

[2020-03-13 04:07] JinmingHu-MSFT commented on #24
@spinosae I think this issue has been fixed in the latest 0.3.0 release. Feel free to let us know if you have further questions.

[2020-03-13 05:23] JinmingHu-MSFT opened #73 "Parallel upload/download from/to stream"
We have added parallel upload/download from/to buffer for `blob_client` in release 0.3.0. However, this may not function well if the buffer is larger than usable physical memory, due to inefficient page swapping in/out. If you have demand for uploading/downloading from/to file or stream, you can let us know by commenting in this issue. So that we can evaluate and consider adding this feature in fu

[2020-03-17 15:48] ryayl commented on #72
Thanks, I can avoid `blob_client_wrapper`. This is more clear with the new sample code added recently.

It looks like `off_t` does the right thing which is to restrict `fileSize` to the range of whatever system you're on. Defining the macros as `long long` is more the problem. If they were defined as `long` I think they should be interpreted as 32bit on a 32bit system and 64bit on a 64bit system.

[2020-03-17 15:48] #72 closed

[2020-03-19 15:43] ihnorton opened #74 "AZURE_* environment variables"
Please consider supporting the `AZURE_*` environment variables like the [azure CLI](https://docs.microsoft.com/en-us/cli/azure/storage/account?view=azure-cli-latest), especially:
- `AZURE_STORAGE_ACCOUNT`
- `AZURE_STORAGE_KEY`

For testing it would also be useful to be able to configure `AZURE_STORAGE_ENDPOINT` (not supported by the CLI, as far as I can tell).

[2020-03-20 05:46] JinmingHu-MSFT commented on #74
Cpplite is different from Azure-CLI, which itself is an executable. But cpplite is a library. I'm not sure whether it's a good idea to handle these environment variables in a library. Maybe these account name/key and endpoint information should loaded from environment variables by the executable and passed to this library. Anyway, we will evaluate this feature request.

[2020-03-20 13:25] ihnorton commented on #74
Yes, that is what we are doing for now. Just to note that the AWS S3 C++ SDK does fall back to environment variables, which is useful for several situations. Thanks for evaluating this feature!

[2020-03-20 13:28] JinmingHu-MSFT commented on #74
@ihnorton Thanks for your feedback, we'll add this feature to our backlog, and maybe support it in future release.

[2020-03-28 13:48] dhollsten opened #75 "Function to check validity of client"
Can't find any function to check if a client connection is valid (accessible and sas token valid), until after trying to upload/download something. Ideally I would like to verify my client before operating on it. Something like:
[code]
What do you think?

[2020-03-28 13:55] dhollsten commented on #73
I was using **download_blob_to_stream** for each blob to download all blobs in a container but was trying to make downloads faster by first listing all blobs **list_blobs_segmented** and then using **download_blob_to_buffer** for each blob. Both methods seem to be equivalent in speed and the limitation seems to be the internet anyway. Is this expected?

[2020-03-28 14:23] JinmingHu-MSFT commented on #73
With `download_blob_to_stream` API, you're downloading with only 1 thread. But with `download_blob_to_buffer`, if parallelism is properly configured, you're downloading with multiple threads.

I don't know how you got the conclusion that the limitation was the internet, and I cannot tell whether you're correct without detailed information. So can you share the following info?

1. What's the `max_c

[2020-03-28 14:32] JinmingHu-MSFT commented on #75
@dhollsten I don't think there's is a method that can do what you want and always work. For example, if the sas token only has access to a specific container or blob or blob snapshot, you cannot check validity of the client anyway.

If an API cannot work in all cases, we don't want to provide it.

[2020-03-29 12:11] dhollsten commented on #73
1. `max_concurrency` is set to 16
2. `parallelism` varied between 1 and 16
3. Size of the blobs are about 120kB each
4. About 60ms per blob for both APIs
5. Bandwidth should theoretically max out at 1000Mbit/s

So my theory is that the blob sizes are too small to benefit from any parallelism which is why I see roughly the same download speeds. But my issue is that if I want to download all blobs f

[2020-03-29 12:57] JinmingHu-MSFT commented on #73
@dhollsten Yes, you're right. The size is too small to benefit from parallel downloading. `download_blob_to_buffer` does chunk level parallelism. However, you can still do blob level parallelism by yourself. The code looks like this:

[code]

This way, you're downloading multiple blobs in parallel. Note that the parallelism is limited by number of blobs in one `list_blobs_response` and `max_concur

[2020-03-29 17:07] dhollsten commented on #73
Thank you for the example sample code! However I stumbled upon a bug. I believe that `content_length` is not returning the length of the entire data in case of null terminator bytes.
[code]

[2020-03-30 02:54] JinmingHu-MSFT commented on #73
@dhollsten Hi, to verify if it's a throttling issue, you can disable retry policy by using `no_retry_policy` and check the error code and error message. If the error code is 500 or 503, and the error message is something like server busy, then you're throttled.

Retry is a good method to resolve this issue, for example, you can implement exponential backoff retry policy.

[2020-04-19 15:34] asafka-zerto opened #76 "maturity and comparison with azure-storage-cpp"
Hello,

We're considering usage of this library (azure-storage-cpp) for a release that is expected to be G.A. in about 6 months from today. We need to access azure blob storage from a C++ service on Linux servers. We need to understand:

1. Is this library ready for production? is it being used in production by anyone? we're concerned by the "0.3.0" release tag, which might indicate lack of maturi

[2020-04-20 02:41] JinmingHu-MSFT commented on #76
Yes, cpplite is designed to be lightweight and have less dependencies. Our previous test results showed that cpplite has better performance over cpp sdk. But currently cpplite only support those essential APIs while cpp supports a full set of APIs.

[2020-04-24 01:33] katmsft commented on #76
Hi, we will continuously follow up on this conversation with the on-going email thread. Thanks for raising this.

[2020-05-12 19:34] bhardwajs commented on #76
@katmsft - how can we follow up on here? I am in the same situation as @asafka-zerto

Happy to follow-up in MSFT internal threads. Thanks!

[2020-06-18 20:13] majumd opened #79 "The value for one of the HTTP headers is not in the correct format"
Hi,

I am using the cpp lite version of Azure Storage Client Library.
I am using v0.3 version.
I am connecting to a Dell Azure Stack Hub of version
IdentitySystem     : AzureAD
OemVersion         : 2.1.1908.3
StampVersion       : 1.2002.19.73

Can the v0.3 version connect to the above Azure Stack Hub versions? Am i using the right version of the client library?

	std::shared_ptr<storage_credential

[2020-06-19 04:32] JinmingHu-MSFT commented on #79
@majumd Hi, we haven't officially supported Azure Storage Hub yet, but cpplite sdk should be able to work with it.

Can you provide some information so that we can further investigate?
1. What does the endpoint look like for Azure Stack Hub?
2. What kind of authentication are you using?
3. Which HTTP header isn't in the correct format? What is it supposed to be?

In addition, please avoid using th

[2020-06-19 08:29] majumd commented on #79
Hi,
I have modified code as per sample given by you to use blob_client but still it gives error.
"The value of one of the HTTP headers is not in correct format"

* TCP_NODELAY set
* Connected to fsmagicstorageacc1.blob.dazs1.wwtrrratc.com (10.253.xx.xx) port 443 (#0)

Host: fsmagicstorageacc1.blob.dazs1.wwtrrratc.com
Accept: */*
x-ms-date: Fri, 19 Jun 2020 08:13:25 GMT
x-ms-version: 2018-11-09
Aut

[2020-06-19 08:36] majumd commented on #79
I have used the following
std::string account_name = "fsmagicstorageacc1";
	std::string account_key = "xxxxQ==";    // Storage account key if using shared key auth
	std::string blob_endpoint = "fsmagicstorageacc1.blob.dazs1.wwtrrratc.com/";

The names are correct names. I have given just for representation. The key used above is the user access key obtained by logging into portal.
Dashboard > Stor

[2020-06-19 08:51] JinmingHu-MSFT commented on #79
@majumd can you also share the error response body?

[2020-06-19 13:44] majumd commented on #79
This is the only HTTP header response which is being returned.
 HTTP/1.1 400 The value for one of the HTTP headers is not in the correct format.

It would have been nice if it could return which header is not in correct format.

[2020-06-19 14:22] JinmingHu-MSFT commented on #79
Hi @majumd, the request header looks completely normal and I believe it's going to work if running against Azure Storage server.

This C++ sdk is targeted at Azure Storage server. Any other kind of server including Azure Stack is supposed to expose exactly the same interface as Azure Storage if they want to be able to work with client sdk. So I think your request failed because Azure Stack server

[2020-06-22 08:38] snehalw777 commented on #79
Hi,
For the error specified by @majumd, I am getting the error response body as :

Code : InvalidHeaderValue

Message :
                The value for one of the HTTP headers is not in the correct format.
		RequestId:6abd80a3-3c81-0a33-6566-4c83d6bd9132
		Time:2020-06-19T12:57:25.5124783Z

HeaderName : x-ms-version

HeaderValue : 2018-11-09

From the error body it seems that, storage service versio

[2020-06-22 10:32] JinmingHu-MSFT commented on #79
Hi @snehalw777 , seems your Azure Stack doesn't support this API version. Can you edit [here](https://github.com/Azure/azure-storage-cpplite/blob/master/include/constants.dat#L117) and try `2019-02-02`, `2019-07-07` and `2019-10-10`?

[2020-06-22 13:56] snehalw777 commented on #79
Thanks for the reference @JinmingHu-MSFT
It worked with older API version.

[2020-06-22 14:05] JinmingHu-MSFT commented on #79
@snehalw777 Okay, I think you can use the old API version. But `2018-11-09` is an API version with breaking changes, which means that there might be one or more API in this sdk that cannot function properly if you just change the API version. So Please do use test cases to cover those API you're going to use to make sure everything works fine.

[2020-06-25 11:03] majumd commented on #79
I am closing this issue because this lite version v0.3 started working using API version 2017-11-09 on an Azure Stack Hub setup of version 2002(latest version).

[2020-06-25 11:03] #79 closed

[2020-06-25 11:07] majumd opened #80 "Need create snapshot API for unmanaged disks"
Hi,
The storage client library thick version has an API to create a snapshot of a blob.
azure::storage::cloud_page_blob  m_blob =
m_blob.create_snapshot()

This API is helpful to create snapshot of unmanaged VHDs attached to a virtual machine.
Does the lite version has a similar API to create snapshots of unmanged VHDs present in a container and attached to a virtual machine?

[2020-06-25 11:19] JinmingHu-MSFT commented on #80
Hi @majumd , this cpplite sdk doesn't support page blob yet, and the namespace is like `azure::storage_lite::`. Are you sure snapshot feature would help in your scenario?

[2020-06-25 12:57] majumd commented on #80
I am able to use the snapshot feature of the Azure Storage C++ client library(thick) version. (https://github.com/Azure/azure-storage-cpp)
The thick version has a snapshot feature which helps to take a snapshot of the blob
https://azure.github.io/azure-storage-cpp/classazure_1_1storage_1_1cloud__blob.html#a25903b80d59053f731e61e748db0cd82

We would like to take a backup of the blob and hence take

[2020-06-28 04:54] JinmingHu-MSFT commented on #80
@majumd I understand your needs here, i've added this feature request to our backlog. But I afraid we cannot finish this in a short time. Because snapshot support isn't a small feature. If we support taking snapshots, we also need to support some way to download the snapshots.

[2020-07-05 02:42] ryomatcu commented on #69
Hi @katmsft,

In my case, I reduce the number of dependencies to prevent the inclusion of bugs due to external factors.

I think Boost is,
- Many experimental features
- It may be replaced by the function of C++11 or later.

And, I'm based on Google's style guide.
https://google.github.io/styleguide/cppguide.html#Boost

So, this library helps me a lot :)

Thank you.

[2020-07-07 08:55] snehalw777 commented on #80
@JinmingHu-MSFT We can understand that the feature support needs the time, but can you please give any timeline about how much time would it take to support the snapshot feature?

[2020-07-07 09:19] JinmingHu-MSFT commented on #80
@snehalw777 Sorry I cannot give a timeline for that.

We're now actively working on Track2 cpp sdk [link](https://github.com/Azure/azure-sdk-for-cpp/tree/master/sdk/storage), which is supposed to replace both cpp and cpplite sdk in the future. We're going to have the first private preview in a few days. Snapshot is supported in that preview release.

[2020-07-08 12:47] snehalw777 commented on #80
Thanks for the reference @JinmingHu-MSFT

We can surely check for the Track2 cpp sdk, but when can we expect the preview release for this SDK?

[2020-07-08 13:08] JinmingHu-MSFT commented on #80
@snehalw777 i'm gonna reply here once it's available.

[2020-07-14 03:07] NaraVen opened #82 "curl postfields to request body are not passing thru"
The lib_curl_http.h file in the include dir needs an extra setting to allow POSTFields to be passed to the body of the request.
SPN token only works if we post the client_credential params to the body of the message not as params.
In http://github.com/azure/azure-storage-fuse We added this line to get the above working.
 check_code(curl_easy_setopt(m_curl, CURLOPT_POSTFIELDS, nullptr)); // CURL wo

[2020-07-14 03:40] JinmingHu-MSFT commented on #82
Hi @NaraVen Can you elaborate what you're trying to do here? Do you want to add a new API? I'm almost sure the way you're doing it is wrong.

[2020-07-14 08:34] NaraVen commented on #82
No new API. I am trying to add key-value pairs to the http request body. It is not working unless I change the cpplite libcurl_http_client.h set_input_stream method to add the line below.
check_code(curl_easy_setopt(m_curl, CURLOPT_POSTFIELDS, nullptr)); // CURL won't actually read data on POSTs unless this is explicitly set.

My code in lines 460 - 464 in https://github.com/Azure/azure-storage-fu

[2020-07-14 09:43] JinmingHu-MSFT commented on #82
@NaraVen Hi, I just tried current implementation with POST request. You're write, it won't send POST request body. I tried to add this line

[code]

after this line
https://github.com/Azure/azure-storage-cpplite/blob/a3a9c21de3fa9932dcfceb2b6617757a511c75c3/src/http/libcurl_http_client.cpp#L49

then it works.

[2020-07-14 09:44] JinmingHu-MSFT commented on #82
@NaraVen Do you want to create a PR so that you can get the credit?

[2020-07-15 20:08] NaraVen commented on #82
sure, I will pull a PR. Thank you for looking into this.

[2020-07-17 08:18] eyeKill opened #83 "`header_ms_date` is mistakenly following system's locale settings"
Using this package here to do some azure blob storage development. Worked fine on my cloud ubuntu VM but received endless 403 responses on my ubuntu laptop.

Turns out `get_ms_date` in `src/utility.cpp` is mistakenly following system locale settings. My laptop have locale settings as simplified Chinese, which causes `strftime` to output Chinese date & time strings. Such date & time information won

[2020-07-17 08:24] eyeKill commented on #83
PS. Only a dozen tests failed on my zh-CN linux machine, strange...

[2020-07-18 03:15] JinmingHu-MSFT commented on #83
Hi @eyeKill, can you take time to verify if this issue has been fixed in PR https://github.com/Azure/azure-storage-cpplite/pull/85? Thanks.

[2020-07-20 02:28] eyeKill commented on #83
Problem resolved, no more 403s(although I don't understand the reason to treat rfc1123 and iso8601 separately).

[2020-07-20 06:58] #83 closed

[2020-07-29 10:40] drorgy opened #87 "Segmentation fault during"
This issue looks similar to this issue from the azure-storage-cpp project:  https://github.com/Azure/azure-storage-cpp/issues/265
(in that issue it was mentioned that there were indeed segmentation fault errors in azure-storage-cpp version 3.0 which where fixed later on).

Valgrind output of the error I'm getting:

==8950== Process terminating with default action of signal 11 (SIGSEGV)
==8950==  A

[2020-07-29 13:26] JinmingHu-MSFT commented on #87
@drorgy Can you share a code snippet that can reproduce this issue?

[2020-07-30 11:50] drorgy commented on #87
@JinmingHu-MSFT
Thanks, we are currently working on getting code snippet to reproduce this as code base it is reproduced in is big.

[2020-07-31 12:49] drorgy commented on #87
We still don't have code snippet yet, but I came across these links:
https://stackoverflow.com/questions/21887264/why-libcurl-needs-curlopt-nosignal-option-and-what-are-side-effects-when-it-is
https://curl.haxx.se/mail/lib-2010-01/0115.html

Could it be that the crash is because CURLOPT_NOSIGNAL is not set to 1? (curl_easy_setopt(handle, CURLOPT_NOSIGNAL, 1L); )
I checked the azure-storage-cpplite

[2020-08-02 07:10] drorgy commented on #87
I just compiled after setting CURLOPT_NOSIGNAL. The segmentation faults don't happen (still getting SIGPIPE which is ok - https://curl.haxx.se/libcurl/c/CURLOPT_NOSIGNAL.html).

[2020-08-05 07:19] JinmingHu-MSFT commented on #87
Hi @drorgy , can you confirm that this crash issue (SIGSEGV) is caused by DNS failure? I mean, can you double check that you're using neither c-ares nor threaded DNS?

Because the change in your PR involves behavior change of this SDK, which will affect all of our cpplite customers. So I want to be careful about this.

In addition about the SIGPIPE issue, if we don't enable CURLOPT_NOSIGNAL, the p

[2020-08-06 15:10] drorgy commented on #87
Hi Jinming,
I saw in another similar API that CURLOPT_NOSIGNAL is turned on.
See also this link: https://curl.haxx.se/libcurl/c/threadsafe.html
Currently the code I sent in PR is not complete as my program gets stuck (I configured SIGPIPE to be ignored in my program anyway). I think there is probably additional settings needed aside from CURLOPT_NOSIGNAL.
Dror

[2020-08-06 22:43] WillBeddow opened #91 "Support for large file upload (>2.1Gb)"
Currently `azure::storage_lite::get_file_size()` returns -1 for files greater than 2.1Gb.. Can we use `stat64` here to allow support for large files?

[2020-08-07 01:36] JinmingHu-MSFT commented on #91
Hi @WillBeddow , please try to avoid using anything in `blob_client_wrapper`.

[2020-08-07 01:36] JinmingHu-MSFT commented on #91
@JasonYang-MSFT FYI

[2020-08-18 21:03] vikasjio opened #94 "storage response headers"
I am able to get blob headers using one call (get_blob_property etc) and download file/stream using another call (download_blob_to_stream etc.).

However I am looking for some simple way to get response headers values (like for status code, response content length, response content range and content-type etc.) and blob itself using a Single call like download_blob_to_stream.

Sample example most w

[2020-08-18 23:23] JinmingHu-MSFT commented on #94
cpplite cannot do that, but track2 can do exactly what you want https://github.com/Azure/azure-sdk-for-cpp/tree/master/sdk/storage

[2020-09-03 07:10] BenjaminLanfer opened #96 "Slow parallel upload using blob_client::upload_block_blob_from_buffer"
When trying to upload especially smaller files using blob_client::upload_block_blob_from_buffer I find that upload speed is very slow (~500kbit/s). It appears that only a single parallel request is used although the maximum number of concurrent requests was set to 64.

From a cursory glance at the code, a rather large block size is chosen. That is, the minimum block size is set to azure::storage_l

[2020-09-03 07:44] katmsft commented on #96
The block size was originally chosen to enable LBB feature that can ultimately boost performance at the service side. This is considered a feature request to expose the option to specify the block size to a smaller value and is put to our backlog.

In the meantime, you can check the track 2 Storage SDK which has similar dependencies with CPPLite here and will be more actively maintained: https://g

[2020-09-04 11:09] pablorcum opened #98 "Add UUID implementation compatibility with OSSP uuid"
The current UUID calls rely on libuuid. Other UUID implementations or existing libraries are not compatible with this Azure utility.

The [OSSP uuid](http://www.ossp.org/pkg/lib/uuid/) is another well-known UUID library for embedded targets, which is currently not supported. Therefore, despite of having an UUID library available, I have to install another dependency (libuuid-dev) to build for my t

[2020-09-07 10:23] LeMaster-xx opened #99 "How to copy blob to blob and get notification that it was done"
Good day,
  I'm using the azure-stroage-cpplite library in my project and stuck with the copy blob problem. In the cpplite version, we have only start_copy function that doesn't wait until data will be copied. We don't have any option to place a callback that will be called when copy operation was done. The only way that I found is to call the `get_property` function until `copy_status` has `pooli

[2020-09-07 22:38] #98 closed

[2020-09-07 22:39] pablorcum commented on #98
No longer required. Boost UUID library is a better alternative.

[2020-09-08 02:08] Jinming-Hu commented on #80
Track2 beta1 is available [here](https://github.com/Azure/azure-sdk-for-cpp/tags)

[2020-09-08 04:49] Jinming-Hu commented on #99
Hi @LeMaster-xx , there's no way other than keep getting properties and sleeping for a while, as far as I know.

[2020-09-11 14:09] pablorcum opened #100 "Fix cross-compilation workflow on Windows host with CMake"
I am cross-compiling the project on Windows, and had to make some changes in the main CMakeLists file, so that it works and also go around PkgConfig. Please find my fix proposal below.

**Original**
[code]

**Fix**
[code]

[2020-09-11 14:34] pablorcum commented on #100
Fixed at #101 .

[2020-09-12 23:12] pablorcum commented on #100
Figured out it is related to [this ](https://gitlab.kitware.com/cmake/cmake/-/issues/21185) more generic CMake issue. This pull request can be cancelled.

[2020-09-12 23:12] #100 closed

[2020-09-15 11:25] pablorcum opened #102 "Fix crosscompiling on Windows by removing PkgConfig dependency"
When crosscompiling on Windows, there is currently a dependency to PkgConfig that can be hard to workaround. PkgConfig is used to handle uuid support, and it cannot be skipped despite of providing separately a uuid package.

[2020-09-15 11:28] pablorcum opened #103 "Improve support for QNX Neutrino"
The uuid dependecy relies on the uuid header from the util-linux library, which is not always available. By adding support for the lightweight [OSSP uuid](http://www.ossp.org/pkg/lib/uuid/), the support of other embedded UNIX-based OS such as QNX can be achieved without minimal modifications in the existing code.

[2020-09-26 03:38] NaraVen opened #105 "list_blobs_segmented is not returning directories hierarchically"
We are calling list_blobs_segmented from blob_client, we get en-GUIB, en_HI and then en. Shouldn't directory en be returned first?
See below, we get the following error if we ask for only 2 results (en is the third)
drwxrwxrwx 2 azureuser azureuser 4096 Jan  1  1970 ca
drwxrwxrwx 2 azureuser azureuser 4096 Jan  1  1970 ch
d????????? ? ?         ?            ?            ? codeswitch
drwxrwxrwx 2 a

[2020-09-27 02:07] Jinming-Hu commented on #105
Hi @NaraVen , can you give us a code snippet to reproduce this issue?

Here's a program I used to test

[code]

The result is

[code]

in [this](https://docs.microsoft.com/en-us/rest/api/storageservices/list-blobs) API reference, it says `Blobs are listed in alphabetical order in the response body, with upper-case letters listed first.`. it works exactly as expected.

[2020-09-27 04:54] NaraVen commented on #105
Hi Jinming,
     I see the opposite order. The storage container I am testing it is in Central US and has 500 petabytes of data. Could that be the reason?
list_segmented_item do loop blob prefix: am_data/en continuation: 2!76!MDAwMDExIWFtX2RhdGEvZW4wITAwMDAyOCE5OTk5LTEyLTMxVDIzOjU5OjU5Ljk5OTk5OTlaIQ--
Sep 26 22:02:20 naraPhilygpu blobfuse[53016]: Function azs_getattr, in file /home/azureuser/azure

[2020-09-27 05:51] Jinming-Hu commented on #105
Hi @NaraVen , cpplite sdk doesn't sort the result at all, it simply returns what storage server returns.

I just talked with some guy who's familiar with server side implementation. Since Blob service doesn't have real directory, it only has **virtual** directory. Storage server stores every blobs under the directory except the directory itself. For example, in your case you have directory `en-IN`

[2020-09-27 08:45] NaraVen commented on #105
Nice and detailed explanation, Thanks, closing the issue.

[2020-09-27 08:45] #105 closed

[2020-10-21 22:11] dczaretsky opened #107 "How to Set Blob Content-Type"
When uploading to azure blob an image via stream, it always sets the content type to "application/octet-stream". How do you change the content type when it is uploaded?

I've tried setting the meta content as follows:

[code]
This only adds meta content, but doesn't change the blob properties. I've also tried to directly change the curl request headers:

[code]
Any help would be greatly appreciate

[2020-10-22 03:22] Jinming-Hu commented on #107
@dczaretsky cpplite doesn't support this feature. I recommend you use our Track2 cpp sdk. https://github.com/Azure/azure-sdk-for-cpp/tree/master/sdk/storage

[2020-12-11 04:51] #27 closed

[2020-12-12 02:15] davidbrochart opened #110 "Same name for static and shared libraries"
Would it be possible to have a different name for the static and the shared libraries?
We are having an issue when packaging azure-storage-cpplite for conda-forge on Windows (see https://github.com/conda-forge/staged-recipes/pull/13417).

[2020-12-14 09:19] katmsft commented on #110
https://github.com/conda-forge/staged-recipes/pull/13417#discussion_r540274829

Copying relevant comments for more info:

The issue is that if you build a static library for xxx with the default options, you also generate a xxx.lib (not the same content as the previous one, but the same name and same location). If you install both shared and static packages, the latter.lib file overwirtes the form

[2020-12-14 09:27] katmsft commented on #110
Personally, I don't think it is a huge problem to change static libraries to have other names, however, could you point us to a sample project that's using different names for static/dynamic libraries? Also, is there a universally adapted pattern for dynamic/static library names?

[2020-12-14 13:34] davidbrochart commented on #110
Maybe @johanmabille knows more about the name pattern?

[2020-12-14 14:42] JohanMabille commented on #110
There is no single stadard naming convention; one I often see is `libname-mt-s-version.lib` or `libname-mt-s.lib` (here the `mt` part means multi-threaded, opposed to `md` used for building DLL, s means static linking).

[2020-12-15 02:44] katmsft commented on #110
@Jinming-Hu I don't have a problem with this. What do you think.

[2020-12-15 02:47] Jinming-Hu commented on #110
Fine by me.

[2020-12-15 02:50] katmsft commented on #110
BTW, if we do that, how would it change the way customers consume the static library? They have to explicitly import `libname-s.lib` instead?

[2020-12-15 03:03] davidbrochart commented on #110
I think so, yes.

[2020-12-15 08:01] JohanMabille commented on #110
Yes

[2020-12-20 10:16] katmsft commented on #110
We welcome community contribution on this, the name should be `azure-storage-lite-s.lib` given the dynamic linking library's name is `azure-storage-lite.lib`

[2020-12-31 07:49] seemamathew opened #112 "Could you please suggest better option for using azure blob storage"
Hi

I have to use azure blob storage(c++) to download files from cloud.
While searching I could find following options
- azure-storage-cpplite
- azure-storage-cpp
- azure-storage-blobs
I am using imx6ul board.
I have to download ~1GB.
Could you please suggest which is the better option to me.

Regards
Seema

[2020-12-31 08:18] Jinming-Hu commented on #112
Is this an ARM chip?

[2020-12-31 16:49] seemamathew commented on #112
Yes it is ARM chip

[2021-01-05 12:49] seemamathew commented on #112
Hi,

It will be very helpful if we can get suggestion with in this week.

Thanks in Advance
Seema

[2021-01-06 02:13] Jinming-Hu commented on #112
Hi @seemamathew , neither azure-storage-cpplite nor azure-storage-cpp officially supports ARM. But I do know someone ever tried to run azure-storage-cpplite on ARM. But both of them are going to be deprecated in favor of our new [Track2 C++ SDK](https://github.com/Azure/azure-sdk-for-cpp/tree/master/sdk/storage).

Although the new Track 2 SDK hasn't officially supported ARM yet, but that's one of

[2021-01-06 16:12] seemamathew commented on #112
Hi @Jinming-Hu

Thank you very much for update.
We will try with Track2 C++ SDK.

Also I found azure-storage-blobs in below path
https://github.com/Azure/azure-sdk-for-cpp/tree/master/sdk/storage/azure-storage-blobs

Thanks and Regards
Seema

[2021-01-06 22:20] Jinming-Hu commented on #112
Yeah, this is our Track2 SDK.

[2021-01-08 01:22] seemamathew commented on #112
Thank you for confirmation

[2021-01-08 09:55] HimaPraveen commented on #112
Hi @Jinming-Hu,

Whether the new Track2 SDk support multi part download and whether it provides resume support while handling large data.

Thanks in Advance
Hima

[2021-01-08 14:42] Jinming-Hu commented on #112
@HimaPraveen Yes, you can specify chunk size and parallelism when downloading a large blob. For each individual HTTP request, if connection failure occurs, the sdk will automatically send a new request to download the remaining data from the offset where connection's lost.

[2021-02-11 22:43] jade2k11598 opened #113 "Getting azure storage working with boost::asio framework"
Hi,
I have an application that uses the `boost::asio` framework for a pool of threads, which works asynchronously.  Is there a way of getting the azure-storage-cpplite to work asynchronously?  I notice that the public interfaces return futures, which the examples given, just calls its `get()` function to acquire results, which will block (not desirable for asynchronous programming).  Just looking

[2021-02-17 03:53] Gaurav-Karu opened #114 "How to handle exception with blob_clent_wrapper"
Blob_clent_wrapper return void ....and If I go with blob_clent the volume of download I cannot achieve concurrency....like parallel upload.

Please suggest we need to integrate cpplite as azure-iot-sdk do not have a support for proxy.

Please share some sample code as sample2.cpp doesn't seem to be enough

[2021-02-18 01:19] Jinming-Hu commented on #114
@Gaurav-Karu hi, cpplite is going to be deprecated in favor of [Track2 storage SDK](https://github.com/Azure/azure-sdk-for-cpp/tree/master/sdk/storage).

[2021-02-18 03:25] Jinming-Hu commented on #113
Hi @jade2k11598 , APIs in this cpplite sdk aren't guaranteed to be async. Returning `std::future` is a bad design, due to lack of consideration. This cpplite sdk is going to be deprecated in favor of [Track2 storage sdk](https://github.com/Azure/azure-sdk-for-cpp/tree/master/sdk/storage). So I suggest you switch to track2 sdk and start a new thread (or use a thread pool) for each put request.

[2021-02-18 03:50] jade2k11598 commented on #113
Thanks @Jinming-Hu.  Will look at the referenced alternative.

[2021-02-18 03:50] #113 closed

[2021-02-19 12:25] Gaurav-Karu commented on #114
@Jinming-Hu : Yes I am aware of that as it has been conveyed to us by Swadi.Shraddha@microsoft.com , But Does the Track2 storage is in production ?

Note: we have already given the dates to client ....so what I can do and we cannot experiments until and unless the new SDK is under production ?

[2021-02-19 13:17] Jinming-Hu commented on #114
`blob_clent_wrapper` doesn't throw exception, you'll need to check `errno` for error information.

[2021-02-19 13:18] Jinming-Hu commented on #114
and `blob_client` does have concurrent upload function https://github.com/Azure/azure-storage-cpplite/blob/be490edaf413dc113d8182cbc7a29140d3a63481/include/blob/blob_client.h#L154

[2021-02-19 13:19] Jinming-Hu commented on #114
Not yet, but it's the latest beta8 is considered RC release. So there won't be too many breaking changes between this version and production release (GA).

[2021-02-19 13:36] Gaurav-Karu commented on #114
@Jinming-Hu ...Is there a way I can recompile cpplite and return errno in another wrapper class which I can use in my code to check the errno....because using assert is dangerous in the production code.

Can u please suggest ?

[2021-02-19 13:51] Jinming-Hu commented on #114
You don't have to use asserts.

Just check `errno` like this

[code]

there's a list of error numbers [here](https://github.com/Azure/azure-storage-cpplite/blob/master/include/storage_errno.h)

or if you want to wrap code above into a function

[code]

[2021-02-23 08:10] Gaurav-Karu commented on #114
Hi Thanks for the update...I have one more query if the files are larger size (Let say 800MB) it will tgake some time to upload in blob storage....Now if the user suspend the upload and resume back. (Do such handling is there ?)

[2021-02-23 08:14] Gaurav-Karu commented on #114
why blob_client_wrapper obj is not made accessible directly ? And do we need to use only one blob_client_wrapper to handle upload, Download and delete or we can create differt blob_client_wrapper object for handling ?

[2021-02-23 08:38] Jinming-Hu commented on #114
Nope, there's no way to suspend or resume for now. But there is a workaround. We have [Put Block](https://docs.microsoft.com/en-us/rest/api/storageservices/put-block) and [Put Block List](https://docs.microsoft.com/en-us/rest/api/storageservices/put-block-list) API. You can split that 800MB data into small chunks, and upload one or a few chunks at a time.

`blob_client_wrapper` is not for public u

[2021-02-24 07:10] Gaurav-Karu commented on #114
How to get the size of committed and uncommitted block if I am using blob_client_wrapper function upload_file_to_blob

[2021-02-24 07:13] Jinming-Hu commented on #114
@Gaurav-Karu take a look at [this](https://github.com/Azure/azure-storage-cpplite/blob/be490edaf413dc113d8182cbc7a29140d3a63481/include/blob/blob_client.h#L235) API

[2021-02-24 08:56] Gaurav-Karu commented on #114
what is the alternative for this api in cpplite ?
        /// <summary>
        /// Returns an enumerable collection of the blob's blocks, using the specified block list filter.
        /// </summary>
        /// <param name="listing_filter">One of the enumeration values that indicates whether to return
        /// committed blocks, uncommitted blocks, or both.</param>
        /// <param name="con

[2021-02-24 09:13] Jinming-Hu commented on #114
[get_block_list](https://github.com/Azure/azure-storage-cpplite/blob/be490edaf413dc113d8182cbc7a29140d3a63481/include/blob/blob_client.h#L235)

[2021-02-24 09:43] Gaurav-Karu commented on #114
/// <summary>
        /// Uploads a list of blocks to a new or existing blob.
        /// </summary>
        /// <param name="block_list">An enumerable collection of block IDs, as Base64-encoded strings.</param>
        /// <param name="condition">An <see cref="azure::storage::access_condition" /> object that represents the access condition for the operation.</param>
        /// <param name="optio

[2021-02-24 12:04] Jinming-Hu commented on #114
Sorry I didn't get what you mean

[2021-02-24 12:23] Gaurav-Karu commented on #114
alternative for the below in cpplite?

void **upload_block_list**(const std::vector<block_list_item>& block_list, const access_condition& condition, const blob_request_options& options, operation_context context)
    {
        **upload_block_list_async**(block_list, condition, options, context).wait();
    }

[2021-02-25 00:34] Jinming-Hu commented on #114
yeah, [put_block_list](https://github.com/Azure/azure-storage-cpplite/blob/be490edaf413dc113d8182cbc7a29140d3a63481/include/blob/blob_client.h#L277)

[2021-02-25 06:14] Gaurav-Karu commented on #114
@Jinming-Hu can I  use cpprestsdk with azure0cpplite, Because I remember old azure-sdk library supports cpprestsdk , Because cpprestsdk internally uses casablanca

So can I use cpprest sdk feature api like...

[2021-02-25 06:16] Jinming-Hu commented on #114
I think so, you can use both sdk side-by-side

[2021-03-02 05:41] Gaurav-Karu commented on #114
@Jinming-Hu I need a small confirmation from you...I am using the below api for Download and Upload.
1. **Download :->** using api of blob client wrapper (**download_blob_to_file**)...This seems to be working fine but downloading almost 1800 files the Gateway become so slow. Does it because I am creating a object of blob client as global object to use throught a file.
2. **Upload:->** For upload I

[2021-03-04 16:15] Gaurav-Karu commented on #114
@Jinming-Hu
Observed crashed when tried to download 8000 Package ...after downloading 1000 Package the Gateway became slow and observed multiple crashes.....I have used         **void blob_client_wrapper::download_blob_to_file(const std::string &container, const std::string &blob, const std::string &destPath, time_t &returned_last_modified, size_t parallel)**

BT TRACE
#0  0x00007fb9ae8e0ad9 in ti

[2021-03-05 09:32] Gaurav-Karu opened #115 "Crashing blob_client_wrapper::download_blob_to_file(const"
@Jinming-Hu Jinming-Hu
Observed crashed when tried to download 8000 Package ...after downloading 1000 Package the Gateway became slow and observed multiple crashes.....I have used void **blob_client_wrapper::download_blob_to_file(const std::string &container, const std::string &blob, const std::string &destPath, time_t &returned_last_modified, size_t parallel)**

BT TRACE
#0 0x00007fb9ae8e0ad9 in

[2021-03-05 09:34] Jinming-Hu commented on #115
@Gaurav-Karu  can you share a dump file?

[2021-03-05 10:01] Gaurav-Karu commented on #115
okk will check with my manager and share in your email ? If u get any info from these by trace kindly inform ?

[2021-03-25 18:41] Gaurav-Karu commented on #115
Hello Jimming

I have used blob_client and blob_wrap api for Downloading 10000+ Packages and found some issues.
1. BlobClient  **download_blob_to_stream**
2. 2. BlobWrap **download_blob_to_file**
I set the concurrencylimit as 16, But I noticed that at one point if we used download_blob_to_stream, the Download becomes very slow, and if we go with the download_blob_to_file where CPU  usages increase

[2021-03-29 02:35] Jinming-Hu opened #117 "CI failed due to permission issue of Azure Pipelines"

[2021-03-29 08:40] Gaurav-Karu opened #118 "Dowload performance is slow when downloading 10 K packages"
@Jinming-Hu

I have used blob_client and blob_wrap api for Downloading 10000+ Packages and found some issues.

BlobClient download_blob_to_stream
BlobWrap download_blob_to_file
I set the concurrencylimit as 16, But I noticed that at one point if we used download_blob_to_stream, the Download becomes very slow, and if we go with the download_blob_to_file where CPU usages increased and make the Gatew

[2021-06-23 01:22] oyljerry opened #119 "Why get_blob_properties return invalid data"
Hi All:
    After I use **put_block_list()** to upload all blobs to storage successfully, I use **get_blob_properties()** to get blob properties, But I found that **ETag** is "" empty, and **size** is an extremely large value, What is the reason. Thanks.

[code]
**put_block_list_outcome** and **put_block_list_outcome** are success.

[2021-06-24 03:10] Jinming-Hu commented on #119
Did you check `put_block_list_outcome.success()` and `get_blob_property_outcome.success()`?

[2021-06-28 01:53] oyljerry commented on #119
Yes, These two outcome are both success.

[2021-06-28 02:28] Jinming-Hu commented on #119
That's unusual. @oyljerry Can you provide a piece of code to reproduce this issue, so that I can investigate?

[2021-06-28 03:12] oyljerry commented on #119
This issue is happened in below scenario.
I have a file, and split it into 10 blocks as each block is 10MB. If I use **upload_block_from_buffer** to put 2 blocks, then I interrupt the program.  restart the program, Use **get_block_list** to get uncommitted array, Then I will only **put_block** the remained 8 blocks. after it, I use put_block_list and get_blob_property to get the result, Both are s

[2021-07-09 23:55] fqun2014 opened #120 "upload_block_blob_from_buffer throw "Resource temporarily unavailable" exception after ~32000 blob uploads"
I debugged it a little bit, the exception was thrown at:
context->task_futures.emplace_back(std::async(std::launch::async, thread_upload_func));

Once this condition happened, I could not recover from it. I created a new blob_client and tried to use it, but I still get the exception.

This is running on Ubuntu:
LSB Version:    core-9.20160110ubuntu0.2-amd64:core-9.20160110ubuntu0.2-noarch:security

[2021-07-12 03:05] Jinming-Hu commented on #120
It's hard to say what the root cause is due to limited information

But my guess is that you created too many threads. Please try to limit the concurrent upload tasks number.

[2021-07-12 03:18] fqun2014 commented on #120
Actually the 'maxConcurrency' was set to 1 when creating the blob_client. The blob object size is ~1MB, so I didn't use many threads. The object is transfered one at a time. What information do you suggest I can collect that may help debugging this? Thanks.

[2021-07-12 03:20] Jinming-Hu commented on #120
I suspect there's some kind of leak, maybe you can collect the memory usage, thread number of your application over time.

[2021-07-12 03:33] fqun2014 commented on #120
I know the test only uses a few threads. Maybe around 8 threads total. I see one of them kept changing task ID. That probably isthe one created by the std::async, get created/deleted for each blob transfer. I will collect the memory usage and the fd.

I only use one API:
AZURE_STORAGE_API std::future<storage_outcome<void>> upload_block_from_buffer(const std::string &container, const std::string &b

[2021-07-12 08:36] Jinming-Hu commented on #119
If one of the storage accounts works, this is not a client-side issue.
If the server returns ETag header, cpplite can parse the header and return it to you. If cpplite doesn't return the header, it's not returned from the server side at all.

What's the difference between these two storage accounts?

[2021-07-12 18:07] fqun2014 commented on #120
Hi,
I did a strace on the test that uploading blobs to azure. It looks like when the test crushed, it could not allocate memory. It seems the memory it tried to allocate is for creating a thread. I believe it is during call to std::async. When I monitor /proc/id/maps, I see memory region kept getting added to the process. but never get released.

Here is the output segment of strace before the pro

[2021-07-12 21:39] fqun2014 commented on #120
Hi,
Just for an experiment, I removed the internally concurrent tasks mechanism from blob_client::upload_block_blob_from_buffer(), so it doesn't have to create the threads internally. The problem goes away.

std::future<storage_outcome<void>> blob_client::upload_block_blob_from_buffer_new(const std::string &container, const std::string &blob, const char* buffer, const std::vector<std::pair<std::st

[2021-07-13 05:47] Jinming-Hu commented on #120
`unmap` not being called doesn't necessarily mean the memory is not deallocated.

`mmap` and `munmap` are functions user-space program uses to allocate and deallocate memory from kernel. But user-space program itself also does some memory management.

I suggest you use tools like valgrind to monitor your application and see where the memory leak happens.

[2021-07-13 06:20] fqun2014 commented on #120
If you see my last comment, I didn’t change anything outside, kept the function signature the same. Change the function internally(stop using std::async, do the data transfer in one shot), the memory leak stops.

[2021-07-14 05:45] fqun2014 commented on #120
Also the problem will go away with the following change:
for (int i = 0; i < parallelism; ++i)
     {
-        context->task_futures.emplace_back(std::async(std::launch::async, thread_upload_func));
+        context->task_futures.emplace_back(std::async(std::launch::deferred, thread_upload_func));
+        context->task_futures[i].wait();
     }
Somehow running the function in a separate thread al

[2021-07-14 08:03] Jinming-Hu commented on #119
Update from email thread: Not a storage client or service issue. The ETag header was filtered by CDN

[2021-07-14 08:03] #119 closed

[2021-07-14 08:03] Jinming-Hu commented on #119
@oyljerry I'll close this issue since it's not a storage issue. Feel free to re-open if you have any further questions.

[2021-07-15 06:10] Jinming-Hu commented on #120
Hi @fqun2014 , I can confirm there's a leak issue in this function.

[2021-07-15 14:56] fqun2014 commented on #120
Hi @Jinming-Hu, thanks a lot for confirming the issue. I will looking into Track2 SDK. Would you consider converting the function(also the download function) to non-concurrent version so people can still use the library? Maybe it is fast enough for some users.

[2021-07-16 02:28] Jinming-Hu commented on #120
Yeah, maybe. But other customers may still want concurrent transfer to exploit the bandwidth capacity.

[2021-07-24 02:35] ihnorton commented on #103
Could also consider https://github.com/mariusbancila/stduuid when building with C++17.

[2021-07-28 19:28] ihnorton opened #121 "Release?"
It looks like there are some important fixes since the last release in Mar 2020, including for VS2019 support. Would it be possible to do another release? Thanks.

[2021-07-28 20:23] ihnorton opened #122 "Use curl::curl target when available"
Build system integration could be simplified a bit if this library would conditionally link against the `curl::curl` target provided by curl's own CMake config files.

Currently the linkage here is unconditionally against `CURL_LIBRARIES` and `CURL_INCLUDE_DIRS`, which are only provided by the CMake built-in FindCurl.cmake. (using curl's CMake can be disabled by setting `CURL_NO_CURL_CMAKE`, but t

[2021-07-29 02:10] Jinming-Hu commented on #121
@ihnorton This sdk has been deprecated in favor of our [Track2 Storage SDK](https://github.com/Azure/azure-sdk-for-cpp/tree/main/sdk/storage).

Usually, we don't ship releases unless there are severe issues

[2021-07-29 02:22] ihnorton commented on #121
I see, thanks for the response. In that case it seems important to emphasize the deprecation in the readme, which is not currently done.

[2021-08-02 20:00] dave-f commented on #121
I agree - I had no idea this SDK was deprecated

[2021-08-06 17:40] fqun2014 commented on #120
Hi @Jinming-Hu, I'm evaluating Track2 SDK. From I can tell, the ConcurrentTransfer code in Track2 SDK is very similar to azure-storage-cpplite version. Won't the same problem show up there as well?

[2021-08-07 08:27] Jinming-Hu commented on #120
I wrote concurrent transfer code in both Track1 cpplite and Track2 SDK. I don't think Track2 SDK has the same problem.
If you observe memory leak or any other kind of resource leak, please open an issue in Track2 SDK repo.

[2021-08-09 19:14] fqun2014 commented on #120
Hi @Jinming-Hu, I tried the same test on Track2 SDK. Could not recreate the problem.

[2021-08-27 08:12] morten-ofstad opened #124 "CurlEasyClient is not thread-safe"
The CurlEasyClient class calls curl_global_init/curl_global_cleanup in its constructor/destructor. These functions increase/decrease an initialized count, but when called from multiple threads this breaks since it's not using an atomic increment/decrement (the initialized count gets read and increased by two threads and then written with the new value which is only increased by one, or similar in

[2021-08-31 05:17] Jinming-Hu commented on #124
Hi @morten-ofstad , thanks for reporting this bug.

However, this cpplite sdk has been deprecated and is now in maintenance mode. Can you try our [next generation of Storage SDK](https://github.com/Azure/azure-sdk-for-cpp)?

[2021-08-31 14:40] morten-ofstad commented on #124
This bug was found in a deployment for a large customer. We're evaluating switching to the next generation SDK for the next version of our software. We're using azure-storage-cpplite only to sign requests, so we just create a request, sign it and read back the HTTP-headers -- then we use our HTTP code which uses curl-multi to perform the requests asynchronously and in parallel for max. throughput.

[2021-09-02 03:09] Jinming-Hu commented on #124
This might not be the place for it, but do you have any advice on how to best use the next gen Azure SDK for only signing requests?

Yes, next gen sdk was designed to be able to handle this scenario. Please open an issue in Track2 repo to further discuss.

[2021-09-22 20:38] erwandrezen opened #125 "Unable to upload huge file with the blob_client class"
I got a strange behaviour when uploading a file > 4GB.

Actually, it seems that the 'set_content_length' uses a unsigned int, which may have a sizeof of 4, and therefore does not allow values greater than 4 GB.

I patched the input parameter type to unsigned long long and I managed to break this file size limitation.

Regards

[2021-10-20 20:49] spadhi7 opened #126 "adls_client interface is missing ca_path (CA bundle location)"
When adls client is created, adls_client constructor doesn't take the CA bundle location for blob_client creation. There should be an overloaded constructor to take ca_path in adls/include/adls_client.h

AZURE_STORAGE_ADLS_API adls_client(std::shared_ptr<storage_account> account, int max_concurrency, const std::string& ca_path, bool exception_enabled = true);

[2021-10-21 02:23] Jinming-Hu commented on #126
Hi @spadhi7 , this cpplite sdk is under deprecation. We won't add any new features.

Please use our [Track2 SDK](https://github.com/Azure/azure-sdk-for-cpp) instead.

[2021-11-24 09:55] AmyLee91 commented on #71
Hi @Jinming-Hu

As you mentioned in this place  in the [cpplite:](https://github.com/Azure/azure-storage-cpplite)
[https://github.com/Azure/azure-storage-cpp/issues/330](https://github.com/Azure/azure-storage-cpp/issues/330)

cpplite has supported http proxy，
But I found it not support username/passwork.

**Could you support ‘CURLOPT_PROXYUSERPWD’ in the cpplite lib?**

Thanks.

[2021-12-08 09:06] AmyLee91 opened #127 "Could Support Proxy with username/password"
Hi @Jinming-Hu

As you mentioned in this place in the cpplite:
Azure/azure-storage-cpp#330 (comment)

cpplite has supported http proxy，
But I found it not support username/passwork.

Could you support ‘CURLOPT_PROXYUSERPWD’ in the cpplite lib?

Thanks.

[2021-12-08 09:15] Jinming-Hu commented on #127
Hi @AmyLee91, cpplite sdk has been deprecated. We won't add any new features.

Please use our [Track2 SDK](https://github.com/Azure/azure-sdk-for-cpp/tree/main/sdk/storage) instead.

[2022-01-10 16:15] dhoke4tdb opened #128 "memory size/expectation mismatch, hash()/to_base64()"
sdk release 0.3.0, problem general, but periodically manifests as SIGSTOP on azure pipelines CI mac runner, appears because of data that is allocated right up against end of mapped area with nothing mapped beyond

background...
hash.cpp/std::string hash(const std::string &to_sign, const std::vector<unsigned char> &key)
defines
[code]
elsewhere with
[code]
and hash() makes call
[code]
with base64.c

[2022-01-11 06:34] Jinming-Hu commented on #128
Hi @dhoke4tdb , I can confirm there's a bug in `to_base64` implementation. However, cpplite sdk has been deprecated, so I'm afraid we won't fix it. Please use our [Track2](https://github.com/Azure/azure-sdk-for-cpp/tree/main/sdk/storage) SDK instead.

[2022-02-14 21:39] dhoke4tdb commented on #128
Find attached a zip archive containing files involved in addressing this issue,
base64.cpp.patch - a patch gen'd against v0.3.0 of sdk (and applicable to several others that seem to have same exact base64.cpp)
verify.base64.cpp.both - a complete file containing both the broken and the fixed implementation that was used
attempting to validate that the fix actually did avoid the problem, having the

[2022-02-15 02:59] Jinming-Hu commented on #128
Thanks @dhoke4tdb , I believe your patch can fix the bug!

[2022-02-15 10:49] dhoke4tdb commented on #128
One more file, a CI log from our verification attempt with backtrace indicating the _mod routine had succeeded before the _orig routine failed (in the same fashion we have been sporadically encountering.)
[print-stack-raw.log](https://github.com/Azure/azure-storage-cpplite/files/8068419/print-stack-raw.log)

[2022-02-23 00:19] ag250689 opened #130 "Authentication failed"
Can you please help, I always got authentication failed.

[2022-02-23 01:40] Jinming-Hu commented on #130
Please provide more information so that we can investigate.

[2022-02-23 10:30] ag250689 commented on #130
I just wanted to try your samples, and I put information of account name, and account key. I couldn’t do nothing, because I just got this.
Failed to create container, Error: 403, AuthenticationFailed
Failed to upload blob, Error: 403, AuthenticationFailed
Failed to download blob, Error: 403, AuthenticationFailed

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***

[2022-05-12 05:58] AmyLee91 opened #131 "[Feature Request] Request to support proxy auth for azure-storage-cpplite"
Hi Azure team,
We are need to using proxy auth (username and password). We found your SDK is not support yet.

Could you support this feature for Curl transport?

https://github.com/Azure/azure-storage-cpplite/blob/master/src/http/libcurl_http_client.cpp
https://github.com/Azure/azure-storage-cpplite/blob/master/src/blob/blob_client.cpp

https://curl.se/libcurl/c/CURLOPT_PROXYAUTH.html

Thanks.

[2022-05-12 06:06] AmyLee91 commented on #131
Hi Azure team，
As this azure-storage-cpplite could using proxy environment variables to set the full proxy configuration?

as this comment：
https://github.com/Azure/azure-sdk-for-cpp/issues/3199#issuecomment-1002817743

Thanks.

[2022-05-12 06:10] Jinming-Hu commented on #131
Hi @AmyLee91 , this SDK has been deprecated. We won't add new features. Please try our [Track 2 SDK](https://github.com/Azure/azure-sdk-for-cpp/tree/main/sdk/storage).